alias ll='ls -alF'
alias lls='ls -alF; ls'
alias tree='ls --tree'
alias cd='z'
alias cdd='zi'
alias op='xdg-open'
alias '$='
alias :q="exit"
alias pippy='pipenv run python'
alias ipme='curl ip.me'
alias ip='ip -c'
