window {
	margin: 100px;
	background-color: #282a36;
	opacity: 0.95;
}

#outer-box {
	margin: 2px;
	border: 2px solid #44475a;
	background-color: #282a36;
}

#input {
	margin: 2px 2px 0px 2px;
	border: 2px solid #6272a4;
	background-color: #44475a;
	color: #f8f8f2;
	font-size: 18px;
	border-radius: 0;
}

#inner-box {
	margin: 2px;
	background-color: #282a36;
	display: grid;
}

#scroll {
	margin: 2px;
	border: 2px solid #6272a4;
	background-color: #282a36;
	font-size: 16px;
	color: #f8f8f2;
}

#scroll label {
	margin: 2px 0px;
}

#entry:not(:selected) {
	margin: 2px;
	background-color: #282a36;
	transition: padding 100ms;
}

#entry:selected {
	background-color: #44475a;
	border: 2px solid #01a257;
	padding-left: 10px;
	transition: padding 100ms;
}

#img {
	margin: 2px;
}
#img:selected {
	background-color: #44475a;
}

#text {
	margin: 2px;
	border: none;
	color: #b9b7ff;
}
#text:selected {
	background-color: #44475a;
}
